body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Cantarell","Open Sans","Helvetica Neue","Ubuntu",sans-serif;
	background-color: #f5f5f5;
	margin: 0px;
	padding: 0px;
	min-width: 660px;
}
section#info {
  margin: 100px 20%;
  border: 1px solid #7C79A2;
  border-radius: 5px;
}
div.jumbotron {
  padding: 30px 50px;
}
#tabs_head {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 32px;
	text-align: center;
  color: #f5f5f5;
	background-color: #7C79A2;
	border-radius: 5px 5px 0px 0px;
}
table {
	margin: 10px 15px;
}
#quest {
  margin-top: 20px;
  margin-bottom: 10px;
	color: #555;
	left: 95%;
}
td {
	width: 480px;
	padding: 5px 20px 20px 20px;
}
td > p {
  padding-left: 0px;
}
td span {
	padding-left: 10px;
}
#submit {
  text-align: center;
}
input[type="submit"]{
	height: 35px;
	font-family: sans-serif;
	font-size: 16px;
	padding: 3px 10px;
	border: 1px solid #7C79A2;
	border-radius: 5px;
	width: 80px;
	margin: 5px 10px;
	background-color: #f5f5f5;
	color: #7C79A2;
}
input[type="submit"]:hover {
	background-color: #7C79A2;
	color: #f5f5f5;
}
